.hero-section {
  height: 400px;
  /* width: 100%; rather not set width to prevent overflow */
  margin: 100px;
  padding: 20px 50px;
  background-image: linear-gradient(to right, rgb(203, 218, 247), white);
  border-radius: 8px;
  display: flex;
}

.right-hero-sec {
  width: 400px;
}

.right-hero-sec img {
  height: 100%;
  border-radius: 8px;
  object-fit: contain;
}

.left-hero-sec {
  flex: 3;
}

.left-hero-sec h1 {
  font-size: 60px;
  margin-bottom: 10px;
}

.left-hero-sec h5 {
  font-family: "Merriweather";
  font-weight: 400;
  font-size: 20px;
  margin-top: 0px;
}

.left-hero-sec button {
  margin-top: 20px;
}

#title-hero-sec {
  text-decoration: overline;
}
