* {
  /* transition: all 200ms ease; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  border: 7px solid rgb(15, 57, 144);
  border-radius: 15px;
  overflow: hidden;
}

.right-hero-sec {
  flex: 2;
}

.right-hero-sec img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.left-hero-sec {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.left-hero-sec h1 {
  font: 900 normal 45px /1.5 'fredoka';
  margin-bottom: calc(2vw - 5px);
  margin-top: 5px;
  text-align: center;
}

.left-hero-sec h1 span {
  text-decoration: overline;
}

.left-hero-sec h5 {
  font-weight: 400;
  font-size: 15px;
  padding: 0px 5px;
}

.left-hero-sec h5 a {
  font-weight: 700;
  transition: all 200ms ease;
}

.left-hero-sec h5 a:hover {
  color: rgba(15, 58, 144, 0.5);
}

.left-hero-sec .brand-button {
  margin: 7px auto;
  width: 80%;
}

@media only screen and (min-width: 600px) {
  .hero-section {
    height: 80vh;
    flex-direction: row;
    border: 6px solid rgb(15, 57, 144);
  }

  .left-hero-sec {
    flex: 3;
    padding-left: 10px;
    justify-content: space-between;
  }

  .left-hero-sec h1 {
    font: 900 normal 60px /1.7 'fredoka';
    margin-top: 25px;
    margin-bottom: 10px;
  }

  .left-hero-sec h5 {
    font-size: 16px;
    margin: 25px 0px;
  }

  .left-hero-sec .brand-button {
    margin: 0px auto 10px auto;
    width: 200px;
  }
}

@media only screen and (min-width: 769px) {
  .hero-section {
    margin: 0px 10px 200px 10px;
    flex-direction: row;
    border: 4px solid rgb(15, 57, 144);
  }

  .left-hero-sec {
    padding-left: 20px;
    justify-content: space-between;
  }

  .left-hero-sec h1 {
    font-size: 80px;
    line-height: normal;
    margin-top: 35px;
    margin-bottom: 20px;
  }

  .left-hero-sec h5 {
    font-size: 23px;
    margin: 25px 0px;
  }

  .left-hero-sec .brand-button {
    margin-bottom: 40px;
    width: 400px;
  }
}
