body {
  all: unset;
  font-family: "poppins";
  color: rgb(15, 57, 144);
}

header {
  background-color: rgb(220, 229, 247);
  height: 15vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  position: fixed;
}

nav {
  width: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-weight: 700;
}

nav div {
  cursor: pointer;
}

nav .products {
  border: 2px solid red;
  height: 70px;  /*to easily hover into productsNav to show dropdown */
  display: flex;
  align-items: center;
  position: relative;
}

.nav-container {
  display: flex;
  flex: 1;
  justify-content: center;
}

.dropdown {
  border-radius: 8px;
  background-color: rgb(220, 229, 247);
  position: absolute;
  top: 60px;
  padding: 18px;
  display: none;
}

.dropdown div {
  margin: 5px 0px;
  border: 2px solid rgb(220, 229, 247);
  border-radius: 5px;
  padding: 3px 6px;
  transition: all 200ms;
  cursor: pointer;
}

.dropdown div:hover {
  border: 2px solid rgb(15, 57, 144);
}

.products:hover .dropdown {
  display: block;
}

