.my-cart-content {
  width: 100%;
  padding: 25px;
  display: flex;
}

.my-cart-content .cards-grid {
  flex: 3;
  grid-template-columns: 1fr 1fr;
  row-gap: 40px;
  column-gap: 15px;
}

.changes-sec {
  background-color: rgb(240, 244, 252);
  height: 100px;
  width: 100%;
  border-radius: 8px;
  margin-top: 8px;
  padding: 7px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.changes-sec .change-qty {
  display: flex;
  flex-direction: column;
}

.change-qty label {
  font-size: 15px;
}

.change-qty input {
  width: 80px;
}

.changes-sec .remove-from-cart-btn {
  padding: 8px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  background-color: rgb(207, 3, 3);
  border: 3px solid rgb(207, 3, 3);
}

.changes-sec .remove-from-cart-btn:hover {
  color: rgb(207, 3, 3);
  background-color: rgb(252, 223, 223);
}

.changes-sec .remove-from-cart-btn i {
  margin-right: 5px;
}

.summary {
  flex: 2;
  padding: 0px 10px;
}

.summary table {
  margin-left: auto;
  background-color: rgb(240, 244, 252);
  border-radius: 10px;
  overflow: hidden;
  border-collapse: collapse;
}

.summary thead,
.summary #total-row {
  background-color: rgb(15, 57, 144);
  color: white;
}

.summary th {
  padding: 5px 0px;
}

.summary tr {
  text-align: center;
  word-wrap: normal;
  height: 50px;
}

.summary tr:nth-child(even) {
  background-color: rgb(220, 229, 247);
}

.summary td {
  /* border: 2px solid red; */
  border-right: 2px solid rgb(203, 218, 247);
  padding: 0px; /* remove default 1px padding; */
}

.summary #total-row {
  border-top: 10px double white;
}

.summary #total-row td:first-child {
  padding: 6px;
  text-align: end;
  font-weight: 700;
  font-size: 20px;
  border-right: 0px;
}

.summary #total-row #tax-info {
  font-size: 13px;
}

section.checkout {
  margin: 20px 0px;
  display: flex;
  justify-content: end;
}

.checkout .brand-button {
  position: relative;
  margin: 0px 60px;
  width: 200px;
  text-align: center;
}

.checkout-buttons {
  position: absolute;
  top: 110%;
  left: 0px;
  visibility: hidden;
  transition: visibility 200ms ease;
}

.checkout .brand-button:hover .checkout-buttons {
  visibility: visible;
}

.checkout-buttons button {
  margin: 6px 0px;
  padding: 10px;
  height: 60px;
  width: 200px;
  border-radius: 10px;
}

.checkout-buttons button:hover {
  opacity: 0.7;
}

.checkout-buttons img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.checkout-buttons .paypal-btn {
  background-color: rgb(254, 238, 0);
  border: 3px solid rgb(254, 238, 0);
}

.checkout-buttons .shop-pay-btn {
  background-color: rgb(246, 243, 243);
  border: 3px solid rgb(35, 1, 126);
}
