.banner {
  height: 20vh;
  width: 100%;
  position: relative;
}

/* banner has two layers: image-banner at back and heading-banner on top */
.heading-banner {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 80;
  display: flex;
}

.heading-banner .text-left {
  flex: 1;
  height: 100%;
  padding-left: 20px;
  background-color: rgb(15, 57, 144);
  color: white;
  font-family: 'Fredoka';
  font-size: 25px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.heading-banner .freespace-right {
  flex: 2;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgb(15, 57, 144),
    rgba(0, 0, 0, 0)
  );
}

.image-banner {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  z-index: 70;
}

.image-banner .image-right {
  flex: 2;
  overflow: hidden;
}

.image-banner img {
  width: 100%;
  object-fit: fill;
  z-index: 70;
}

.image-banner .freespace-left {
  flex: 1;
}

@media only screen and (min-width: 600px) {
  .banner {
    height: 30vh;
  }

  .heading-banner .text-left {
    font-size: 38px;
    padding-left: 0px;
  }
}

@media only screen and (min-width: 769px) {
  .banner {
    height: 40vh;
  }

  .heading-banner .text-left {
    font-size: 50px;
  }
}
