.map-container {
  height: 80vh;
  width: 100%;
  margin-bottom: 60px;
}

.map-container .heading-text-block {
  border-bottom: none;
  margin-bottom: 0px;
}

.map-container iframe {
  height: 80%;
  width: 100%;
  border: none;
}
