html {
  font-family: 'poppins';
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'merriweather';
}

/* .heading-container { */
/* for proper positioning of headings specific to this page */
/* margin-left: 0px;
  margin-bottom: 30px;
} */

.all .all-products {
  width: 100%;
  padding: 200px 25px;
}

.all .all-products .heading-container {
  margin-top: 150px;
  color: rgb(15, 57, 144);
}
