html {
  font-family: "poppins";
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: "merriweather";
}

.heading-container {
  /* for proper positioning of headings specific to this page */
  margin-left: 0px;
  margin-bottom: 30px;
}

.special-offers {
  margin: 100px 25px;
}
