.product-modal {
  /* display: none; to be set with js; */
  top: 0px;
  left: 0px;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 100;
}

.modal-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-card {
  background-color: white;
  height: 90vh;
  width: 900px;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
}

.modal-card .image-sec {
  background-color: lightpink;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.modal-card .info-sec {
  flex: 3;
  border-right: 2px solid rgb(203, 218, 247);

  padding: 20px;
  display: flex;
  flex-direction: column;
}

.modal-card .text-container {
  margin: 5px 0px;
  padding: 5px 0px;
}

.modal-card .text-container p {
  margin: 0px;
}

.modal-card .text-container p:first-child {
  font-size: 15px;
}

.modal-card .product-description {
  max-height: 270px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.modal-card #product-name {
  font: 700 normal 40px 'poppins';
}

.modal-card .buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.modal-card .add-to-cart-container {
  display: flex;
}

.modal-card .qty-input-container {
  margin-right: 5px;
}

.modal-card .add-to-cart-container input {
  display: inline-block;
  height: 43px;
  max-width: 75px;
}

.modal-card .add-to-cart-container label {
  font-size: 15px;
  display: block;
}

.modal-card .share-product-container {
  display: flex;
}

.modal-card .share-product-container button {
  margin: 3px;
  padding: 6px;
  display: flex;
  border: 1px solid black;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: white;
  font-size: 16px;
  transition: all 200ms ease;
}

.modal-card .share-product-container button:hover {
  background-color: rgb(241, 239, 239);
}

.modal-card .share-product-container i {
  margin-right: 2px;
}

.modal-card .share-product-container #facebook {
  color: blue;
}

.modal-card .share-product-container #instagram {
  color: rgb(255, 0, 140);
}

.modal-card .share-product-container #pinterest {
  color: red;
}
