.product-modal {
  /* display: none; to be set with js;
  top: 0px;
  left: 0px;
  position: fixed; */
  width: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 100;
}

.modal-content {
  /* used for centering modal-card; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-card {
  border: 2px solid rgb(203, 218, 247);
  background-color: white;
  width: 100%;
  max-width: 900px;
  border-radius: 10px;
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
  position: relative;
}

.modal-card .image-sec {
  background-color: rgb(255, 255, 255);
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-card img {
  height: 300px;
  object-fit: contain;
  object-position: center;
}

.modal-card .info-sec {
  flex: 3;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.modal-card .text-container {
  margin: 5px 0px;
  padding: 5px 0px;
  font-size: 15px;
}

.modal-card .text-container p {
  margin: 0px;
}

.modal-card .text-container p:first-child {
  font-size: 11px;
}

.modal-card .product-description {
  max-height: 270px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.modal-card #product-name {
  font: 700 normal 25px 'poppins';
}

.modal-card .buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.modal-card .add-to-cart-container {
  display: flex;
  margin-bottom: 12px;
}

.modal-card .qty-input-container {
  margin-right: 5px;
}

.modal-card .add-to-cart-container input {
  display: inline-block;
  height: 43px;
  max-width: 100px;
}

.modal-card .add-to-cart-container .brand-button {
  margin-top: 10px;
}

.modal-card .add-to-cart-container label {
  font-size: 15px;
  display: block;
}

.modal-card .share-product-container {
  display: flex;
}

.modal-card .share-product-container a {
  margin: 3px;
  padding: 6px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  transition: all 200ms ease;
  cursor: pointer;
}

.modal-card .share-product-container i {
  margin-right: 2px;
}

.modal-card .share-product-container #facebook {
  color: blue;
}

.modal-card .share-product-container #instagram {
  color: rgb(255, 0, 140);
}

.modal-card .share-product-container #pinterest {
  color: red;
}

@media only screen and (min-width: 600px) {
  .product-modal {
    height: 100vh;
  }

  .modal-card {
    height: 100%;
    flex-direction: row;
  }

  .modal-card img {
    height: 80%;
  }

  .modal-card .info-sec {
    border-right: 2px solid rgb(203, 218, 247);
    padding: 20px;
  }

  .modal-card .text-container {
    font-size: 17px;
  }

  .modal-card .text-container p:first-child {
    font-size: 13px;
  }
}

@media only screen and (min-width: 769px) {
  .modal-card {
    height: 90%;
  }

  .modal-card .text-container {
    font-size: 20px;
  }

  .modal-card .text-container p:first-child {
    font-size: 15px;
  }

  .modal-card .buttons-container {
    flex-direction: row;
  }

  .modal-card #product-name {
    font-size: 40px;
  }

  .modal-card .add-to-cart-container {
    margin-bottom: 0px;
  }

  .modal-card .add-to-cart-container input {
    max-width: 75px;
  }

  .modal-card .share-product-container a:hover {
    background-color: rgb(241, 239, 239);
  }
}
