/* See earlier commits for Design 1 */

.cards-grid {
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

/* Design 2 */
.product-card-2 {
  background-color: rgb(240, 244, 252);
  height: 200px;
  border: 1px solid rgba(15, 58, 144, 0.48);
  border-radius: 10px;
  display: flex;
  transition: all 200ms ease;
  position: relative;
}

.product-card-2 .info-sec {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  position: relative; /* for offer tag in design 2; */
}

.product-card-2 .info-sec .product-name {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 6px;
  padding-right: 7px;
  padding-left: 1em;
  font-weight: 700;
  text-align: center;
}

.product-card-2 .info-sec .product-price {
  font-size: 13px;
  padding-left: 15px;
  margin: 0px 0px 20px;
  text-align: center;
}

.product-card-2 .info-sec .add-to-cart-btn-container {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.product-card-2 .image-sec-2 {
  width: 45%;
  display: flex;
  align-items: center;
}

.image-sec-2 .image-container-2 {
  width: 100%;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.image-sec-2 .image-container-2 img {
  border: 1px solid rgba(15, 58, 144, 0.48);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 200ms ease;
}

/* Special Offer tag on top left */
.card-tag {
  position: absolute;
  top: 5px;
  left: -83px;
  height: 40px;
  width: 160px;
  transform: rotate(-45deg);
  transform-origin: top;
  font-family: 'fredoka';
  display: flex;
  align-items: end;
  justify-content: center;
}

.offer-tag {
  background-color: rgb(255, 238, 0);
  color: black;
  font-size: 18px;
}

.offer-tag span {
  font-weight: 700;
  font-size: large;
}

.sold-out-tag {
  background-color: rgb(232, 0, 0);
  color: white;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .cards-grid {
    grid-template-columns: 1fr 1fr;
  }

  .product-card-2 {
    height: 300px;
  }

  .product-card-2 .info-sec .product-name {
    font-size: 22px;
    padding-left: 14px;
    margin-top: 30px;
    margin-bottom: 6px;
    text-align: left;
  }

  .product-card-2 .info-sec .product-price {
    font-size: 19px;
    text-align: left;
  }
}

@media only screen and (min-width: 769px) {
  .cards-grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .product-card-2:hover {
    z-index: 80;
    box-shadow: 0px 3px 20px 4px rgb(208, 214, 214);
  }

  .product-card-2 .info-sec .product-name {
    font-size: 25px;
    margin-top: 42px;
  }

  .product-card-2 .info-sec .product-price {
    font-size: 21px;
    margin-top: 10px;
  }

  .image-container-2:hover img {
    transform: scale(1.25);
    border-radius: 8px;
  }
}
