.search-filter-container {
  height: fit-content;
  padding: 25px;
  background-color: rgb(15, 57, 144);
  color: white;
}

.all-products .heading-container {
  margin: 20px 0px;
}

.all-products .heading-container h1,
.all-products .heading-container i {
  /* set explicitly due to specificty issues. In styles/index.css, .heading-container has colors set specifically */
  color: white;
}

.search-filter-box {
  display: flex;
  justify-content: space-between;
}

.filter-container {
  display: flex;
  align-items: center;
}

.filter-dropdown {
  display: inline-block;
  position: relative;
  margin-left: 10px;
}

.filter-dropdown button {
  font-size: 23px;
  background-color: rgb(240, 244, 252);
  color: rgb(15, 57, 144);
}

.filter-dropdown ul {
  padding: 8px 5px;
  background-color: rgb(240, 244, 252);
  border-radius: 8px;
  list-style: none; /* xx; */
  display: none;
  position: absolute;
  top: 100%;
  left: 0px;
  transition: display 200ms ease;
}

.filter-dropdown:hover ul {
  display: block;
}

.filter-dropdown li {
  color: rgb(15, 57, 144);
  border-radius: 8px;
  margin: 7px 0px;
  padding: 5px;
  font-size: 23px;
  font-weight: 700;
  transition: all 200ms ease;
}

.filter-dropdown li:hover {
  background-color: rgb(220, 229, 247);
}
