.search-filter-container {
  height: fit-content;
  padding: 25px;
  background-color: rgb(15, 57, 144);
  color: white;
}

.all .heading-container {
  margin: 20px 0px;
}

.search-filter-container .heading-container h1,
.search-filter-container .heading-container i {
  /* set explicitly due to specificty issues. In styles/index.css, .heading-container has colors set specifically */
  color: white;
}

.search-filter-box {
  display: flex;
  justify-content: space-between;
}

.filter-container {
  display: flex;
  align-items: center;
}

.filter-dropdown {
  display: inline-block;
  position: relative;
  margin-left: 10px;
}

.filter-dropdown button {
  font-size: 23px;
  background-color: rgb(240, 244, 252);
  color: rgb(15, 57, 144);
}

.filter-dropdown .brand-list {
  display: none;
}

.filter-dropdown:hover .brand-list {
  display: block;
  position: absolute;
  top: 100%;
  left: 0px;
}

.search-container {
  margin-right: 40px;
  position: relative;
}

.search-container .brand-input {
  border-color: rgb(203, 218, 247);
  margin-right: 10px;
  position: relative;
}

.search-container .placeholder {
  display: flex;
  align-items: center;
  color: rgba(15, 58, 144, 0.48);
  position: absolute;
  top: 19px;
  left: 90px;
  visibility: visible;
}

.search-container .brand-input:focus + .placeholder {
  visibility: hidden; /* to hide icon when user wants to input; */
}

.search-container i {
  margin-right: 10px;
}

.search-container .search-results {
  height: 200px;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 30px;
  z-index: 10;
}

.search-results .search-list-item {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 400;
  margin: 0px 5px;
}

.search-results .search-list-name {
  width: 150px;
  font-size: 18px;
  font-weight: 700;
}

.search-list-item .search-list-name,
.search-list-item .search-list-price {
  display: inline-block;
}
