footer {
  width: 100%;
  height: 50vh;
  margin-top: 100px;
  background-color: rgb(220, 229, 247);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.page-links-footer {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-links-footer a {
  margin: 10px;
  cursor: pointer;
  transition: all 200ms ease;
}

.social-media-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.social-media-footer i {
  font-size: 40px;
  transition: all 200ms ease;
}

.social-media-footer .fa-square-instagram:hover,
.social-media-footer .fa-square-facebook:hover,
.page-links-footer a:hover {
  color: rgba(15, 58, 144, 0.48);
}

.newsletter-footer {
  display: flex;
  align-items: start;
  justify-content: center;
  padding-top: 50px;
}
