body {
  all: unset;
  font-family: 'poppins';
  color: rgb(15, 57, 144);
  /* overflow-x: hidden; */
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 20px;
}

main {
  margin-top: 21vh;
}

a {
  text-decoration: none;
  color: rgb(15, 57, 144);
}

/* brand-button is the general styling for any catchy button */
.brand-button {
  border: 3px solid rgb(15, 57, 144);
  border-radius: 8px;
  padding: 7px 10px;
  background-color: rgb(15, 57, 144);
  color: white;
  font-weight: 700;
  font-size: 14px;
  transition: all 200ms ease;
  cursor: pointer;
}

/* global styles for all inputs */
.brand-input {
  min-width: 0px; /* for flex: --- to work well; */
  flex: 3;
  border: 4px solid rgb(15, 57, 144);
  border-radius: 8px;
  font-size: 20px;
  padding: 6px;
}

.brand-input:focus {
  border: 4px solid white;
}

.brand-input::placeholder {
  color: rgba(15, 58, 144, 0.48);
}

/* global styles for ALL newsletter-box / email-input boxes */
.newsletter label {
  display: block;
}

#heading-newsletter {
  display: block;
  font-weight: 700;
  font-size: 28px;
}

.input-and-button {
  margin-top: 30px;
  display: flex;
  flex-direction: row; /* default */
}

#email-input-newsletter {
  border-radius: 0px; /* first reset border-radius; */
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

#submit-button-newsletter {
  flex: 1;
  border-left: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* 'heading-text-block' is a general class used by all sections in the website having the basic design of 'a heading and text below it' */
/* 'heading-text-block' must be applied to div in which are nested: div with 'heading-container' and a paragraph or div class 'text-container'. See "start-up" section after banner in about-us.html   */
.heading-text-block {
  margin: 60px 10px;
  padding-bottom: 30px;
  border-bottom: 5px solid rgb(15, 57, 144);
}

.heading-text-block p,
.heading-container .text {
  font-size: 15px;
  margin-top: 15px;
  text-align: center;
}

/* 'heading-container' is a general class used by any section with a heading and link-icon on the left */
/* 'heading-container' must be applied to div in which are nested: anchor (<a>), heading (<h1>), icon (<i class="fas fa-link"> specifically). See "start-up" section after banner in about-us.html   */
.heading-container {
  display: flex;
  justify-content: center;
  margin: 0px 0px 10px 10px;
  padding-top: 10px;
}

.heading-text-block .heading-container {
  /* if heading-container is being used inside heading-text-block ie not separately */
  margin: 0px;
}

.heading-container i {
  display: none;
}

.heading-container h1 {
  color: rgb(15, 57, 144);
  margin: 0px;
  flex: 1;
  font-size: calc(1.5vw + 20px);
  margin-bottom: 8px;
}

.heading-container a {
  display: flex;
  text-decoration: none;
}

/* global styles for all <ul>/<ol> lists */
.brand-list {
  margin: 0px;
  padding: 8px 5px;
  background-color: rgb(240, 244, 252);
  border-radius: 8px;
  list-style: none; /* xx; */
  transition: display 200ms ease;
  box-shadow: 0px 3px 15px 2px rgb(123, 123, 123);
  /* display: none; */
}

.brand-list li {
  color: rgb(15, 57, 144);
  border-radius: 8px;
  margin: 7px 0px;
  padding: 5px;
  font-size: 19px;
  font-weight: 700;
  transition: all 200ms ease;
}

/* global styles for close-buttons in any modal, popover etc */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 32px;
  padding: 10px;
  border-radius: 10px;
  transition: all 200ms ease;
}

.close-button:hover {
  background-color: rgba(15, 58, 144, 0.2);
}

@media only screen and (min-width: 600px) {
  /* brand-button is the general styling for any catchy button */
  .brand-button {
    padding: 11px 15px;
    font-size: 20px;
  }
  .brand-button:hover {
    background-color: rgb(220, 229, 247);
    color: rgb(15, 57, 144);
  }

  /* global styles for all inputs */
  .brand-input {
    padding: 10px;
  }

  /* global styles for ALL newsletter-box / email-input boxes */
  .newsletter label {
    display: block;
  }

  /* 'heading-text-block' is a general class used by all sections in the website having the basic design of 'a heading and text below it' */
  /* 'heading-text-block' must be applied to div in which are nested: div with 'heading-container' and a paragraph or div class 'text-container'. See "start-up" section after banner in about-us.html   */
  .heading-text-block {
    margin: 60px 50px;
  }

  .heading-text-block p,
  .heading-container .text {
    text-align: left;
  }

  /* 'heading-container' is a general class used by any section with a heading and link-icon on the left */
  /* 'heading-container' must be applied to div in which are nested: anchor (<a>), heading (<h1>), icon (<i class="fas fa-link"> specifically). See "start-up" section after banner in about-us.html   */
  .heading-container {
    margin-left: 20px;
    justify-content: left;
  }
}

@media only screen and (min-width: 769px) {
  /* 'heading-text-block' is a general class used by all sections in the website having the basic design of 'a heading and text below it' */
  /* 'heading-text-block' must be applied to div in which are nested: div with 'heading-container' and a paragraph or div class 'text-container'. See "start-up" section after banner in about-us.html   */
  .heading-text-block p,
  .heading-container .text {
    font-size: 20px;
    margin-top: 15px;
    padding-left: 40px;
  }

  /* 'heading-container' is a general class used by any section with a heading and link-icon on the left */
  /* 'heading-container' must be applied to div in which are nested: anchor (<a>), heading (<h1>), icon (<i class="fas fa-link"> specifically). See "start-up" section after banner in about-us.html   */
  .heading-container {
    margin-left: 10px;
  }

  .heading-container i {
    display: inline-block;
    color: rgb(15, 57, 144);
    visibility: hidden;
    margin-right: 10px;
    font-size: 30px;
    display: flex;
    align-items: center;
  }

  .heading-container:hover i {
    visibility: visible;
  }

  /* global styles for all <ul>/<ol> lists */
  .brand-list li:hover {
    background-color: rgb(220, 229, 247);
  }
}
